@import 'joint.min';
@import 'joint.core.min';

.paper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px black inset;
  background-color: darkslategray;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  width: 100%;
  height: 100%;
  background-size: 30px 30px;

  svg {
    flex: 1;
    height: 100%;
    width: 100%;
  }

}
