.plugins-list-wrapper {
  display: inline-flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 300px;
  width: 40vw;
  md-input-container {
    flex: 1;
  }
}

.plugins-list {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.plugin-keyword {
  padding: 2pt;
  background-color: #ddd;
  border-radius: 2.4pt;
  margin: 2.1pt;
}

.plugin-keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
