.plugins-list {
  position: absolute;
  bottom: 0;
  top: 30px;
  left: 0;
  width: 25%;
  min-width: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.plugin-keyword {
  padding: 2pt;
  background-color: #ddd;
  border-radius: 2.4pt;
  margin: 2.1pt;
}

.plugin-keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
