<div class="plugins-list-wrapper">
  <md-input-container>
    <label>Search Name</label>
    <input type="text" ng-model="ctrl.pluginFilter.name">
  </md-input-container>
  <div class="plugins-list">
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="result in ctrl.results | filter: ctrl.pluginFilter | limitTo: 10">
        <div class="md-list-item-text">
          <h3>{{result.name}} <i>v{{result.version}}</i></h3>
          <p>{{result.description}}</p>
          <p class="plugin-keywords">
            <i class="plugin-keyword" data-ng-repeat="keyword in result.keywords track by $index">{{keyword}}</i>
          </p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
