<div class="plugins-list-wrapper">
  <md-input-container>
    <label>Search Name</label>
    <input type="text" ng-model="ctrl.pluginFilter.name">
  </md-input-container>
  <div class="plugins-list">
    <div class="plugin" data-ng-repeat="result in ctrl.results | filter: ctrl.pluginFilter">
      <div class="title">{{result.name}} <i>v{{result.version}}</i></div>
      <div class="description">{{result.description}}</div>
      <div class="keywords">
        <i data-ng-repeat="keyword in result.keyword track by $index">{{keyword}}</i>
      </div>
    </div>
  </div>
</div>
